<nav class="navbar navbar-expand-lg h-100">
  <div class="container h-100 d-block">
    <div class="row py-2">
      <div class="col-3">
        <a class="navbar-brand" href="#">
          <img
            src="assets/images/Ecommerce_logo.png"
            alt="Allegro"
            height="100%"
          />
        </a>
      </div>
      <div class="col-6 text-white">
        <form action="" class="container">
          <div class="row form-height">
            <div
              class="col-8 border border-1 border-white border-opacity-50 rounded-1 rounded-end-0"
            >
              <input
                type="search"
                name="search"
                class="form-control w-100 rounded-0 border-0 bg-dark text-white"
                placeholder="czego szukasz?"
                aria-label="Search"
              />
            </div>
            <div
              class="col-2 border border-1 border-white border-opacity-50 border-start-0 rounded-1 rounded-start-0"
            >
              b
            </div>
            <div class="col-2"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-5"></div>
    <div class="row">
      <div class="col-12 text-bg-danger"><a>cipka</a></div>
    </div>
  </div>
</nav>
