.btn-search{
    background-color: #FF5A00;
    color:white;
}
.btn-search:hover{
    background-color: #ff5a00cc;
    color: white;
}
nav{
    background-color: #222222;
}
.border-gray{
    border: #3D3D3D;
}
.custom-form {
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
  }
  .custom-form input,
  .custom-form select,
  .custom-form button {
    margin-right: 5px;
  }
  .custom-form input::placeholder {
    color: #6c757d;
  }
  .custom-button {
    background-color: #fd7e14;
    color: white;
  }
  .custom-link {
    color: #28a745;
    text-decoration: none;
  }
  .custom-link:hover {
    text-decoration: underline;
  }
  .form-height{
    height: 40px;
  }