<nav class="">
  <div class="flex-row">
    <div class="flex">
      <div class="">
        <a class="" href="#">
          <img
            src="assets/images/Ecommerce_logo.png"
            alt="Allegro"
            height="100%"
          />
        </a>
      </div>
      <div class="">
        <form action="" class="flex">
          <div
            class=""
          >
            <input
              type="text"
              name="search"
              class="custom-input"
              placeholder="czego szukasz?"
              aria-label="Search"
            />
          </div>
          <div>
            <a href="" class="">szukaj wielu</a>
          </div>
          <button class="bg-orange-600 ">Szukaj</button>
          <div class=""></div>
        </form>
      </div>
    </div>
      </div>
    

    <div class=""></div>
  
</nav>
